html {
  font-family:'Times New Roman', Times, serif;
}

.body {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height:100vh
  
}

.head {
  background-color: rgb(2, 7, 40);
  padding: 0%;
  font-size: 55px;
  font-family:cursive;
  margin-left:-10px;
  margin-right:-10px;
  margin-top:-10px;
  color:rgb(240, 240, 240);
  top:0;
  max-width: inherit;
  vertical-align: middle;
  height: fit-content;
}

.titlefont {
  margin-left:350px;
}

.button {
  float: right;
  align-items: baseline;
  color: grey;
  font-family: 'Times New Roman', Times, serif;
}

.legend {
  text-align:center;
}

.form{
  align-items: center;
  margin: auto;
  width: 250px;
}

.profile {
  max-width: 5px;
  max-height: 5px;
  float:right;
  margin-right: 200px;
}

.img {
  max-height:30px;
  max-width:30px;
  float:left;
  margin-right:-10px;
  margin-bottom:10px;
  margin-top:-20px

}

.submit {
  font-family: 'Times New Roman', Times, serif;
}

.ul {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}